<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="simi" transaction-type="RESOURCE_LOCAL">

        <class>ch.so.agi.simi.entity.featureinfo.FeatureInfo</class>
        <class>ch.so.agi.simi.entity.featureinfo.LayerRelation</class>
        <class>ch.so.agi.simi.entity.product.DataSetView</class>
        <class>ch.so.agi.simi.entity.iam.Identity</class>
        <class>ch.so.agi.simi.entity.iam.User</class>
        <class>ch.so.agi.simi.entity.iam.Group</class>
        <class>ch.so.agi.simi.entity.iam.Role</class>
        <class>ch.so.agi.simi.entity.product.DataProduct</class>
        <class>ch.so.agi.simi.entity.DataProduct_PubScope</class>
        <class>ch.so.agi.simi.entity.product.ProductList</class>
        <class>ch.so.agi.simi.entity.product.LayerList</class>
        <class>ch.so.agi.simi.entity.product.Map</class>
    </persistence-unit>
</persistence>
