<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="simi" transaction-type="RESOURCE_LOCAL">

        <class>ch.so.agi.simi.entity.iam.Identity</class>
        <class>ch.so.agi.simi.entity.iam.User</class>
        <class>ch.so.agi.simi.entity.iam.Group</class>
        <class>ch.so.agi.simi.entity.iam.Role</class>
        <class>ch.so.agi.simi.entity.product.non_dsv.DataProduct</class>
        <class>ch.so.agi.simi.entity.product.non_dsv.DataProduct_PubScope</class>
        <class>ch.so.agi.simi.entity.product.non_dsv.ProductList</class>
        <class>ch.so.agi.simi.entity.product.non_dsv.LayerGroup</class>
        <class>ch.so.agi.simi.entity.product.non_dsv.Map</class>
        <class>ch.so.agi.simi.entity.product.non_dsv.SingleActor</class>
        <class>ch.so.agi.simi.entity.product.non_dsv.ChildLayerProperties</class>
        <class>ch.so.agi.simi.entity.product.non_dsv.PropertiesInList</class>
        <class>ch.so.agi.simi.entity.product.datasetview.DataSetView</class>
        <class>ch.so.agi.simi.entity.product.non_dsv.FacadeLayer</class>
        <class>ch.so.agi.simi.entity.product.datasetview.TableView</class>
        <class>ch.so.agi.simi.entity.data.TableDS</class>
        <class>ch.so.agi.simi.entity.data.PostgresTable</class>
        <class>ch.so.agi.simi.entity.data.ModelSchema</class>
        <class>ch.so.agi.simi.entity.data.PostgresDB</class>
        <class>ch.so.agi.simi.entity.product.non_dsv.PropertiesInFacade</class>
        <class>ch.so.agi.simi.entity.product.datasetview.RasterView</class>
        <class>ch.so.agi.simi.entity.data.RasterDS</class>
        <class>ch.so.agi.simi.entity.data.TableField</class>
        <class>ch.so.agi.simi.entity.product.datasetview.ViewField</class>
        <class>ch.so.agi.simi.entity.data.ExternalTable</class>
        <class>ch.so.agi.simi.entity.SimiEntity</class>
        <class>ch.so.agi.simi.entity.iam.Permission</class>
        <class>ch.so.agi.simi.entity.dependency.Component</class>
        <class>ch.so.agi.simi.entity.product.datasetview.StyleAsset</class>
        <class>ch.so.agi.simi.entity.dependency.Relation</class>
        <class>ch.so.agi.simi.entity.dependency.Dependency</class>
        <class>ch.so.agi.simi.entity.dependency.Report</class>
        <class>ch.so.agi.simi.entity.dependency.FeatureInfo</class>
        <class>ch.so.agi.simi.entity.dependency.CCCIntegration</class>
    </persistence-unit>
</persistence>
